<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <title>ChatSense</title>
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {{ data|json_script:"data" }}
    <script src="{% static 'js/chatbot.js' %}" defer></script>
  </head>
  <body>
    <header class="appHeader adjust-width" onmouseleave="hideDropdown()" id="header">
      <span id="newchat-main-btn" class="material-symbols-rounded">edit_square</span>
      <div class="model-dropdown" id="modelDropdown" onmouseenter="showDropdown()">
        <div class="dropdown-header" onclick="toggleDropdown()">Llama 2</div>
        <div class="dropdown-list" onmouseleave="hideDropdown()">
          <div class="dropdown-item" onclick="selectModel('codellama')">Code Llama</div>
          <div class="dropdown-item" onclick="selectModel('clip')">CLIP</div>
        </div>
      </div>
      <span id="logout-btn" class="material-symbols-rounded">logout</span>
    </header>

    <!-- Open button with icon to toggle sidebar -->
    <div class="open-btn" onclick="toggleSidebar()">&#9776;</div>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="newchat-btn">
        <div>New Chat</div>
        <!-- New Chat -->
        <!-- <span class="material-symbols-rounded">edit_square</span> -->
        <i class="material-symbols-rounded" id="newchat-icon">edit_square</i>
      </div>
      <div class="chat-history">
        <div class="chathistory-item" id="chat1" onclick="selectChatHistory(1)">Code Llama
          <div class="icons">
            <i class="fas fa-trash" onclick="deleteChatHistory(1)"></i>
            <i class="star far fa-star" onclick="toggleStar(1)"></i>
          </div>
        </div>
        <div class="chathistory-item" id="chat2" onclick="selectChatHistory(2)">CLIP
          <div class="icons">
            <i class="fas fa-trash" onclick="deleteChatHistory(2)"></i>
            <i class="star far fa-star" onclick="toggleStar(2)"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Chats container -->
    <div class="chat-container adjust-width"></div>
    
    <!-- Typing container -->
    <div class="typing-container adjust-width">
      <div class="typing-content adjust-left">
        <form method="post" id="form-query">
            {% csrf_token %}
            <div class="typing-textarea">
                <input class="chat-input" name="query" id="query-box" placeholder="Enter a prompt here" required>
                <button class="material-symbols-rounded" name="btnAsk" id="queryBtn" type="submit">send</button>
            </div>
        </form>
        <div class="typing-controls">
          <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
          <span id="delete-btn" class="material-symbols-rounded">delete</span>
          <!-- <span id="change-btn" class="material-symbols-rounded" data-info="llama">change_circle</span> -->
      </div>
    </div>
  </body>
</html>