/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --close-btn-color: #c5c5d2; 
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
  --model-background-color: rgba(0, 0, 0, 0.2); 
  --border-light: rgba(217,217,227,.1); 
  --tw-bg-opacity: 1;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --settings-color: rgba(32,33,35,var(--tw-bg-opacity)); 
  --settings-selected-color: #343541; 
}

.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --close-btn-color: #343541; 
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #FFFFFF;
  --incoming-chat-border: #D9D9E3; 
  /* --model-background-color: rgba(231, 231, 230, 0.733);  */
  --model-background-color: #ececf1; 
  --border-light: rgba(0,0,0,.1); 
  --tw-bg-opacity: 1;
  --settings-color: rgba(255,255,255,var(--tw-bg-opacity)); 
  --settings-selected-color: #ececf1; 
}

body {
  height: 100%; 
  background: var(--outgoing-chat-bg); 
  overflow: hidden;
}



/* header styles */
header {
  /* background-color: #4a4a4a; */
  /* position: fixed; */
  top: 0;
  left: 0; 
  color: var(--text-color);
  padding: 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.appHeader span {
  height: 45px;
  width: 45px;
  /* margin-left: 0px; */
}

.model-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 0px; /* Move dropdown select to the left corner */
}

.dropdown-header {
  padding: 12px;
  /* background-color: #333333; */
  border-radius: 4px;
  font-size: 1.2rem;
  width: 150px; /* fixed width */
  text-align: center; /* center the text */
  transition: background-color 0.3s ease; /* add transition effect */
  border-radius: 4px; 
  font-weight: bold; 
  user-select: none;
}

.dropdown-header:hover, .dropdown-header.clicked {
  background-color: var(--model-background-color); 
  /* opacity: 1;  */
}

.dropdown-list {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  /* background-color: var(--model-background-color); */
  /* border-radius: 4px; */
  /* box-shadow: 0 2px 4px var(--model-background-color); */
  z-index: 1;
}

.dropdown-item {
  padding: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 150px; /* fixed width */
  text-align: center; /* center the text */
  background-color: var(--model-background-color); /* set the background color */ 
  border-radius: 4px; 
  font-weight: bold; 
  z-index: 2;
  user-select: none;
}

.model-dropdown.clicked .dropdown-list {
  display: block;
}

/* #logout-btn {
  margin-left: auto;
} */

#newchat-main-btn {
  display: flex; 
  margin-right: 5px;
}

/* Chats container styling */
.chat-container {
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom: 150px;
}

/* Side bar window styles */
.sidebar {
  justify-content: center; /* This centers the inner div horizontally */
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0; /* Move sidebar to the left */
  background-color: #000;
  overflow-y: hidden; 
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); 
  user-select: none; 
}

.open-btn {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: 2; */
  color: var(--text-color);
  transition: left 0.5s; /* Add transition for smooth movement */
}

.open-btn:hover {
  color: #aaaaaa;
}

/* Chat history style (adjust as needed) */
.chat-history {
  overflow-y: auto;
  max-height: 100vh;
  /* padding-bottom: 40px; */
}

/* .chat-history:hover {
  background-color: #555555;
  color: #ffffff;
} */

/* Class for elements that need their width adjusted */
.adjust-width {
  margin-left: 0;
  transition: margin-left 0.5s; /* Add transition for smooth movement */
}

.adjust-left {
  margin-left: -5.5%;
  transition: margin-left 0.5s; /* Add transition for smooth movement */
}

/* ChatGPT-styled layout */
.newchat-btn {
  position: sticky;
  /* position: absolute; */
  top: 0;
  color: #ffffff;
  padding: 10px;
  width: 90%;
  margin: 0 5%;
  padding: 12px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center; /* center the text */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2); /* set the background color */ 
  border-radius: 4px; 
  font-weight: bold; 
  /* z-index: 2; */
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.chathistory-item {
  width: 90%;
  margin: 0 5%;
  padding: 12px;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center; /* center the text */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2); /* set the background color */ 
  border-radius: 4px; 
  display: flex;
  transition: margin-left 0.5s;
  justify-content: space-between;
  /* font-weight: bold;  */
  z-index: 2;
  user-select: none;
}

/* chathistory item icons */
.chathistory-item .icons {
  display: flex;
  align-items: center;
  /* padding: 10px; */
}

i.fa-trash {
  display: none; 
}

.fa-star.far {
  display: none; 
}

.fa-star.fas {
  display: inline-block; 
}

.star.fas {
  display: inline-block; 
}

.chathistory-item i.star {
  color: #fdd835; /* yellow color for filled star */
  cursor: pointer;
  margin-left: 5px; /* adjusted margin for less space */
}

.newchat-btn:hover, .chathistory-item:hover, .user-btn:hover {
  background-color: #202123;
}

#newchat-icon {
  display: flex;
  align-items: center;
}

.selected {
  background-color: #343541;
  color: #ffffff;
}

.chathistory-item i:not(:last-child) {
  margin-right: 10px; /* Add margin between icons */
}

/* chat history list style */
.date-category.chathistory-item {
  color: #999; 
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.date-category.chathistory-item:hover {
  background-color: #000000; 
}

.side-bar-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 20px; /* Move dropdown select to the left corner */
}

/* user settings styles */
.user-btn {
  position:absolute; 
  bottom: 20px;
  color: #ffffff;
  width: 90%;
  margin: 0 5%;
  padding: 12px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center; /* center the text */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2); /* set the background color */ 
  border-radius: 4px; 
  font-weight: bold; 
  z-index: 2;
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
}

#chat-profile {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px; 
  margin-right: 10px;
}

.user {
  color: #c5c5d2; 
}

/* navigation styles */
.sidebar .navigation-list {
  display: none;
  position: absolute;
  /* bottom: 50px; */
  bottom: 100%;
  left: 0;
  width: 100%;
  margin-bottom: 0.25rem;
  background-color: rgba(32,33,35,var(--tw-bg-opacity));;
  /* border-color: rgba(52,53,65,var(--tw-border-opacity)); */
  padding-top: 0.25rem; 
  padding-bottom: 0.25rem;
  overflow: hidden;
  border-radius: 0.5rem;
  /* border: 0.01px solid #40414f; 
  box-sizing: border-box;  */
  border-color: rgba(217,217,227,.1);
  border-width: 1px;
  border: 1px solid rgba(217,217,227,.1);
}

.sidebar .navigation-list nav {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  justify-content: space-between; 
}

.sidebar .navigation-list a {
  display: flex;
  text-decoration: inherit;
  color: white;
  width: 100%;
  padding: 5px;
  font-size: .875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  gap: 0.75rem;
  align-items: center;
  cursor: pointer;
  min-height: 49px;
  transition: background-color 0.3s;
}

.user-selected {
  background-color: #202123; 
}

.sidebar .navigation-list a:hover {
  background-color: rgba(52, 53, 65, 1); /* Hover background color */
}

.outer-modal {
  display: none; 
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: auto; 
  /* border: 0 solid #d9d9e3;
  box-sizing: border-box; */
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0; 
  background-color: hsla(0,0%,40%,.7);
  pointer-events: auto; 
}

.grid-modal {
  display: none; 
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: minmax(20px,1fr) auto minmax(20px,1fr);
  /* grid-template-rows: minmax(10px,1fr) auto minmax(10px,1fr); */
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* settings modal styles */
.settings-modal {
  display: none;
  position: relative;
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  width: 100%;
  max-width: 680px;
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: var(--settings-color);
  /* justify-content: center;
  align-items: center; */
  grid-row: auto;
  grid-column: auto;
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: left;
  pointer-events: auto; 
  user-select: none; 
}

.settings-header {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: center;
  border-color: hsla(0,0%,100%,.1);
}

.settings-title-container {
  display: flex; 
  /* align-items: center; */
  gap: 0.25rem;
  flex-direction: column;
  flex-grow: 1;
}

.settings-title {
  display: flex; 
  left: 0; 
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0;
  color: var(--text-color);
}

/* close button styles */
.close-btn {
  cursor: pointer;
  color: #999; 
  transition-duration: .15s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  text-transform: none;
  /* align-items: center; */
}

.close-btn:hover {
  color: var(--close-btn-color); 
}

.settings-content {
  display: flex;
  /* min-width: 768px;  */
  flex-direction: row;
  gap: 1.5rem;
}

.settings-selector {
  display: flex;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 180px;
  margin-left: -8px;
  margin: 0;
  gap: 0.5rem;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 200px;
}

.selector-item {
  display: flex; 
  font-size: .875rem;
  line-height: 1.25rem;
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.inner-selector {
  color: var(--text-color); 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.settings-icons {
  color: var(--text-color); 
}

.main-settings {
  padding-top: 1.25rem;
  padding-left: 0;
  padding-bottom: 0.5rem; 
  padding-right: 1.5rem;
  min-height: 380px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  width: 100%;
}

.settings-list {
  display: flex; 
  color: var(--text-color); 
  font-size: .875rem;
  line-height: 1.25rem;
  flex-direction: column;
  gap: 0.75rem;
  border: 0 solid #d9d9e3; 
  box-sizing: border-box;
}

.settings-item {
  padding-bottom: 0.75rem;
  border-color: var(--border-light);
  border-bottom-width: 1px;
  border-bottom: 1px solid var(--border-light);
}

.settings-border {
  padding-bottom: 0.75rem;
  border-color: rgba(217,217,227,.1);
  border-bottom-width: 1px;
  border-bottom: 1px solid rgba(217,217,227,.1);
}

.inner-settings-item {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.delete-settings-btn {
  position: relative;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(185,28,28,1);
  color: rgba(255,255,255,var(--tw-text-opacity));
  align-items: center;
  border-color: transparent;
  border-radius: 0.5rem;
  border-width: 1px;
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 2.25rem;
  padding: 0.5rem 0.75rem;
  pointer-events: auto;
  cursor: pointer;
  /* -webkit-appearance: button; */
  background-image: none;
  text-transform: none;
  margin: 0;
  text-align: center;
  padding-block: 1px;
  padding-inline: 6px;
}

.delete-settings-btn:hover {
  background-color: rgb(146, 22, 22);
  /* background-color: rgb(146, 23, 23); */
}

.inner-delete-settings {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.settings-selected {
  background-color: var(--settings-selected-color); 
}

.theme-toggle {
  border-radius: 9999px;
  cursor: pointer;
  flex-shrink: 0;
  width: 32px;
  height: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}


/* theme button styles */
.theme-toggle {
  position: relative;
  /* margin: auto; */
  width: 66px;
  height: 27px;
  background: 
          radial-gradient(circle at 18% 6px, #fff, #fff 1.8px, transparent 2.1px, transparent),
          radial-gradient(circle at 35% 13.5px, #fff, #fff 0.3px, transparent 0.6px, transparent),
          radial-gradient(circle at 10% 21px, #fff, #fff 0.75px, transparent 1.05px, transparent),
          radial-gradient(circle at 25% 4.5px, #fff, #fff 0.9px, transparent 1.2px, transparent),
          radial-gradient(circle at 15% 15px, #fff, #fff 0.45px, transparent 0.75px, transparent),
          radial-gradient(circle at 30% 22.5px, #fff, #fff 1.5px, transparent 1.8px, transparent),
          radial-gradient(circle at 5% 9px, #fff, #fff 0.15px, transparent 0.45px, transparent),
          radial-gradient(circle at 25% 18px, #fff, #fff 0.15px, transparent 1.95px, transparent),
          radial-gradient(circle at 7% 10.5px, #fff, #fff 0.15px, transparent 0.45px, transparent),
          linear-gradient(90deg, #2b303e, #2b303e 50%, #5a81b4 50%, #5a81b4);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: 100% 0;
  border-radius: 27px;
  box-shadow: 
      0 -0.9px 1.2px #999,
      inset 0 0.9px 1.5px #333,
      0 1.2px 1.2px #ffe,
      inset 0 -0.9px 1.5px #ddd;
  cursor: pointer;
  overflow: hidden;
  transition: .5s all;

  &::before,
  &::after {
      content: "";
      position: absolute;
      transition: .5s all;
  }
  &::before {
      width: 22.5px;
      height: 22.5px;
      border-radius: 50%;
      background: #e9cb50;
      inset: 2.25px;
      box-shadow: 
          0 0 1.5px #333,
          inset 0.6px 0.6px 0.9px #f8f4e4,
          inset -0.6px -0.6px 0.9px #665613;
      z-index: 1;
  }
  &::after {
      width: 21px;
      height: 21px;
      inset: 3px;
      border-radius: 50%;
      box-shadow: 
          3px 19.5px 0 3px #fff,
          19.5px 18px 0 1.5px #fff,
          28.5px 21px 0 3px #fff,
          40.5px 13.5px 0 1.5px #fff,
          51px 10.5px 0 3px #fff,
          58.5px -1.5px 0 3px #fff,
          -3px 0 0 15px rgba(255, 255, 255, .2),
          4.5px 0 0 15px rgba(255, 255, 255, .15),
          12px 0 0 15px rgba(255, 255, 255, .21),
          3px 12px 0 3px #abc1d9,
          21px 10.5px 0 3px #abc1d9,
          28.5px 12px 0 3px #abc1d9,
          40.5px 6px 0 3px #abc1d9,
          46.5px 4.5px 0 3px #abc1d9,
          57px -6px 0 3px #abc1d9;
    }
  }

  .theme-toggle:hover::before {
    filter: contrast(90%) brightness(110%);
    scale: 1.05;
  }

  .theme-toggle.active {
  background-position: 0 0;
  
  &::before {
      translate: 39px;
      background: 
          radial-gradient(circle at 50% 6px, #939aa5, #939aa5 1.95px, transparent 2.1px, transparent),
          radial-gradient(circle at 35% 13.5px, #939aa5, #939aa5 3.45px, transparent 3.6px, transparent),
          radial-gradient(circle at 72% 15px, #939aa5, #939aa5 2.55px, transparent 2.7px, transparent),
          radial-gradient(#cbcdda, #cbcdda);
  }
  &::after {
      transform: translate(39px);
      box-shadow: 
          3px 19.5px 0 3px transparent,
          19.5px 18px 0 1.5px transparent,
          28.5px 21px 0 3px transparent,
          40.5px 13.5px 0 1.5px transparent,
          51px 10.5px 0 3px transparent,
          58.5px -1.5px 0 3px transparent,
          3px 0 0 15px rgba(255, 255, 255, .2),
          -4.5px 0 0 15px rgba(255, 255, 255, .15),
          -12px 0 0 15px rgba(255, 255, 255, .21),
          3px 12px 0 3px transparent,
          21px 10.5px 0 3px transparent,
          28.5px 12px 0 3px transparent,
          40.5px 6px 0 3px transparent,
          46.5px 4.5px 0 3px transparent,
          57px -6px 0 3px transparent;
    }
  }

 /* scroll bar styles */
::-webkit-scrollbar {
  height: 1rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0,0%,100%,.1);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px; 
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: hsla(0,0%,100%,.3); 
}

/* :where(.chat-container, input)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, input)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, input)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
} */

.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}

.default-text h1 {
  font-size: 3.3rem;
}

.default-text p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1150px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}

.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}

.chat .chat-details #chat-profile {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}

.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
  color: var(--text-color);
  word-break: break-word;
}

.chat-details #chat-image {
  padding: 0 20px;
  height: 40%; 
  width: 40%;
  max-width: 900px;
  max-height: 900px;
  min-width: 200px; 
  min-height: 200px; 
}

.chat .chat-details p.error {
  color: #e55865;
}

.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.7;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typing-animation .typing-dot:first-child {
  margin-left: 0;
}

@keyframes animateDots {
  0%,44% {
    transform: translateY(0px);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}

/* typing container styling */
.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background-color: var(--outgoing-chat-bg);
  border-top: 1px solid var(--incoming-chat-border);
}

.typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
}

.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}

.typing-textarea input {
  resize: none;
  height: 55px;
  width: 100%;
  border: none;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  background-color: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea input::placeholder {
  color: var(--placeholder-color);
}

.appHeader span, .typing-content span {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

#fileInput {
  display: none;
}

.typing-textarea button {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  user-select: none;
  cursor: pointer;
  font-size: 1.25rem!important;
}

input#query-box.chat-input {
  width: 826px; 
}

.typing-textarea button {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.typing-textarea input:valid ~ button {
  visibility: visible;
}

.appHeader span, .typing-controls {
  display: flex;
}

.appHeader span {
  font-size: 1.4rem;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.appHeader span:hover, .typing-controls span:hover {
  background: var(--icon-hover-bg); 
}

/* image modal styles */ 
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

/* Reponsive Media Query */
@media screen and (max-width: 600px) {
  .default-text h1 {
    font-size: 2.3rem;
  }

  :where(.default-text p, textarea, .chat p) {
    font-size: 0.95rem!important;
  }

  .chat-container .chat {
    padding: 20px 10px;
  }

  .chat-container .chat #chat-profile {
    height: 32px;
    width: 32px;
  }

  .chat-container .chat p {
    padding: 0 20px;
  }

  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }

  .typing-container {
    padding: 15px 10px;
  }

  .typing-textarea input {
    height: 45px;
    padding: 10px 40px 10px 10px;
  }

  .typing-content span button {
    height: 45px;
    width: 45px;
    margin-left: 5px;
  }

  button.material-symbols-rounded span.material-symbols-rounded {
    font-size: 1.25rem!important;
  }
}