/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
  --model-background-color: rgba(0, 0, 0, 0.2); 
}

.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #FFFFFF;
  --incoming-chat-border: #D9D9E3; 
  --model-background-color: rgba(231, 231, 230, 0.733); 
}

body {
  overflow: hidden; 
  height: 100%; 
  background: var(--outgoing-chat-bg); 
}

/* header styles */
header {
  /* background-color: #4a4a4a; */
  /* position: fixed; */
  top: 0;
  left: 0; 
  color: var(--text-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 20px; /* Move dropdown select to the left corner */
}

.dropdown-header {
  padding: 12px;
  /* background-color: #333333; */
  border-radius: 4px;
  font-size: 1.2rem;
  width: 150px; /* fixed width */
  text-align: center; /* center the text */
  transition: background-color 0.3s ease; /* add transition effect */
  border-radius: 4px; 
  font-weight: bold; 
}

.dropdown-header:hover, .dropdown-header.clicked {
  background-color: var(--model-background-color); 
  /* opacity: 1;  */
}

.dropdown-list {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  /* background-color: var(--model-background-color); */
  /* border-radius: 4px; */
  /* box-shadow: 0 2px 4px var(--model-background-color); */
  z-index: 1;
}

.dropdown-item {
  padding: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 150px; /* fixed width */
  text-align: center; /* center the text */
  background-color: var(--model-background-color); /* set the background color */ 
  border-radius: 4px; 
  font-weight: bold; 
  z-index: 2;
}

.model-dropdown.clicked .dropdown-list {
  display: block;
}

/* Side bar window styles */
.sidebar {
  /* display: flex; */
  justify-content: center; /* This centers the inner div horizontally */
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0; /* Move sidebar to the left */
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.chathistory-item:hover {
  background-color: #555555;
}

.open-btn {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #ffffff;
  transition: left 0.5s; /* Add transition for smooth movement */
}

.open-btn:hover {
  color: #aaaaaa;
}

.content {
  transition: margin-left 0.5s;
}

/* Chat history style (adjust as needed) */
.chat-history {
  padding: 20px;
  color: #333333;
  transition: margin-left 0.5s; /* Add transition for smooth movement */
  cursor: pointer; 
  border-bottom: 1px solid #455a64;
}

.chat-history:hover {
  background-color: #555555;
  color: #ffffff;
}

/* Class for elements that need their width adjusted */
.adjust-width {
  margin-left: 0;
  transition: margin-left 0.5s; /* Add transition for smooth movement */
}

.adjust-left {
  margin-left: -5.5%;
  transition: margin-left 0.5s; /* Add transition for smooth movement */
}

/* ChatGPT-styled layout */
.chatgpt-layout {
  position: sticky;
  top: 0;
  color: #ffffff;
  padding: 10px;
}

.chathistory-item {
  width: 90%;
  margin: 0 5%;
  padding: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center; /* center the text */
  color: #ffffff;
  background-color: var(--model-background-color); /* set the background color */ 
  border-radius: 4px; 
  font-weight: bold; 
  z-index: 2;
}

.side-bar-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 20px; /* Move dropdown select to the left corner */
}

:where(.chat-container, input)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, input)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, input)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}

.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}

.default-text h1 {
  font-size: 3.3rem;
}

.default-text p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}

.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}

.chat .chat-details #chat-profile {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}

.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
  color: var(--text-color);
  word-break: break-word;
}

.chat-details #chat-image {
  padding: 0 20px;
  height: 40%; 
  width: 40%;
  max-width: 900px;
  max-height: 900px;
  min-width: 200px; 
  min-height: 200px; 
}

.chat .chat-details p.error {
  color: #e55865;
}

.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}

.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.7;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typing-animation .typing-dot:first-child {
  margin-left: 0;
}

@keyframes animateDots {
  0%,44% {
    transform: translateY(0px);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}

/* typing container styling */
.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background: var(--outgoing-chat-bg);
  border-top: 1px solid var(--incoming-chat-border);
}

.typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
}

.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}

.typing-textarea input {
  resize: none;
  height: 55px;
  width: 100%;
  border: none;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.typing-textarea input::placeholder {
  color: var(--placeholder-color);
}

.appHeader span, .typing-content span {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

#fileInput {
  display: none;
}

.typing-textarea button {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  user-select: none;
  cursor: pointer;
  font-size: 1.25rem!important;
}

input#query-box.chat-input {
  width: 826px; 
}

.typing-textarea button {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.typing-textarea input:valid ~ button {
  visibility: visible;
}

.appHeader span, .typing-controls {
  display: flex;
}

.appHeader span, .typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.appHeader span:hover, .typing-controls span:hover {
  background: var(--icon-hover-bg); 
}

/* image modal styles */ 
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

/* Reponsive Media Query */
@media screen and (max-width: 600px) {
  .default-text h1 {
    font-size: 2.3rem;
  }

  :where(.default-text p, textarea, .chat p) {
    font-size: 0.95rem!important;
  }

  .chat-container .chat {
    padding: 20px 10px;
  }

  .chat-container .chat #chat-profile {
    height: 32px;
    width: 32px;
  }

  .chat-container .chat p {
    padding: 0 20px;
  }

  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }

  .typing-container {
    padding: 15px 10px;
  }

  .typing-textarea input {
    height: 45px;
    padding: 10px 40px 10px 10px;
  }

  .appHeader span, .typing-content span button {
    height: 45px;
    width: 45px;
    margin-left: 5px;
  }

  button.material-symbols-rounded span.material-symbols-rounded {
    font-size: 1.25rem!important;
  }
}